/*
$denim: #2e5eaaff;
$picton-blue: #37b2e6ff;
$lemon-chiffon: #faf0caff;
$cherry-blossom-pink: #fbacbeff;
$bright-pink-crayola: #f7567cff;
*/


.estiloAppTransporte {
  background-color: #f7567cff;
  padding: 20px;
  border: solid #faf0caff;
  border-radius: 15px;

}


.leaflet-container {
  width: 70vh;
  height: 70vh;
  padding: 0px;
  /*margin: 30px;*/
  border-radius: 15px;
  border: double 2px #faf0caff;
}

.textocargandoT {
  display: inline-flex;
  color: black;
}

.imagenCargandoT {
  display: inline-flex;
  width: 80px;

}

.contenedorBorde {
  /*border: double 2px #faf0caff;*/
  display: inline-flex;


}