.claseIndividual {
    display:inline-block;
    border: solid 1px white;
    border-radius: 15px;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
    width: 21vh;
}

.ClaseBloque {
    display: inline-block;
}

.nombreParametro{
    font-size: 0.9em;
    color:#37b2e6ff;
    text-shadow: black -1px -1px;
}

.nombreValor{
    font-size: 1em; 
    text-shadow: black -1px -1px; 
}

.nombreUnidad{
    font-size: 0.7em;
    text-shadow: black -1px -1px;  
}