.claseContenedorTemp1 {
    
    border: double 4px #37b2e6ff;
    border-radius: 15px;
    font-size: 0.9em;
    text-align: center;
    margin: 0px;
    padding: 5px;
   
}

.contenedorSecundarioTemp{
display: inline;
}


