/* Coolors Exported Palette - https://coolors.co/2e5eaa-37b2e6-faf0ca-fbacbe-f7567c */

/* CSS HEX */
--denim: #2e5eaaff;
--picton-blue: #37b2e6ff;
--lemon-chiffon: #faf0caff;
--cherry-blossom-pink: #fbacbeff;
--bright-pink-crayola: #f7567cff;

/* CSS HSL */
--denim: hsla(217, 57%, 42%, 1);
--picton-blue: hsla(198, 78%, 56%, 1);
--lemon-chiffon: hsla(48, 83%, 89%, 1);
--cherry-blossom-pink: hsla(346, 91%, 83%, 1);
--bright-pink-crayola: hsla(346, 91%, 65%, 1);

/* SCSS HEX */
$denim: #2e5eaaff;
$picton-blue: #37b2e6ff;
$lemon-chiffon: #faf0caff;
$cherry-blossom-pink: #fbacbeff;
$bright-pink-crayola: #f7567cff;

/* SCSS HSL */
$denim: hsla(217, 57%, 42%, 1);
$picton-blue: hsla(198, 78%, 56%, 1);
$lemon-chiffon: hsla(48, 83%, 89%, 1);
$cherry-blossom-pink: hsla(346, 91%, 83%, 1);
$bright-pink-crayola: hsla(346, 91%, 65%, 1);

/* SCSS RGB */
$denim: rgba(46, 94, 170, 1);
$picton-blue: rgba(55, 178, 230, 1);
$lemon-chiffon: rgba(250, 240, 202, 1);
$cherry-blossom-pink: rgba(251, 172, 190, 1);
$bright-pink-crayola: rgba(247, 86, 124, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-right: linear-gradient(90deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-bottom: linear-gradient(180deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-left: linear-gradient(270deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-top-right: linear-gradient(45deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-bottom-right: linear-gradient(135deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-top-left: linear-gradient(225deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-bottom-left: linear-gradient(315deg, #2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);
$gradient-radial: radial-gradient(#2e5eaaff, #37b2e6ff, #faf0caff, #fbacbeff, #f7567cff);