.claseIndividual {
    display:inline-block;
    border: solid 1px white;
    border-radius: 15px;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
    width: 200px;
}

.ClaseBloque {
    display: inline-block;
}

.nombreParametro{
    font-size: 0.9em;
    color:#37b2e6ff;
}

.nombreValor{
    font-size: 1em;  
}

.nombreUnidad{
    font-size: 0.7em;  
}