.claseContenedorTemp1 {
    
    border: dotted 2px violet;
    border-radius: 15px;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 15px;
   
}

.contenedorSecundarioTemp{
display: inline;
}


