.contenedorSeccion {
    border: double 4px#37b2e6ff;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 10px;
}

.claseContenedorLugarHora {
    /*border: dotted 2px #faf0caff;*/
    border-radius: 15px;
    font-size: 1.6em;
    text-align: center;
    margin: 0px 0px;
}

.contenedorMaxMin {
    /*border: dotted 2px rgb(166, 93, 226);*/
    text-align: center;
    margin: 0px 0px;
    padding: px;
    border-radius: 10px;
    

}

.claseContenedorGrande {
    display: flex;
    /*border: dotted 2px rgb(216, 14, 25);*/
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.lugar {
    /*border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    margin: 0px;
    font-size: 1.4em;
    
}

.hora {
    /*border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    margin: 0px;
}

.temperaturaPrincipal {
    /*border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    display: inline;
    justify-content: center;
    font-size: 5.5em;
    margin: 0px 0px 0px 30px;

}

.unidadTemperatura {
   /* border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    display: inline;
    font-size: 3em;
    margin: 0px 5px 0px 0px;

}

.imagenPng {
    /*border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    display: flex;
    vertical-align: middle;
    margin: 5px 3px 0px 0px;
    width: 280px;
    height: 280px;

}


.textoPronostico {
    display: block;
    /*border: dotted 2px rgb(213, 226, 25);*/
    border-radius: 15px;
    text-align: center;
    margin: 0px 0px 15px;
    font-size: 2em;
    font-weight: lighter;

}

/*.imagen-pequena {
    width: 200px;
    height: 110px;
    display: inline;
    border: dotted 2px rgb(15, 182, 15);
    font-size: 6em;
    margin: 0px ;
}*/