.temperaturaDiaria {
    /*border: dotted 2px #faf0caff;*/
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.tValor {
    font-size: 1.2em;
}

.tValorUnidad {
    font-size: 0.8em;
}

.horaValor {
    font-size: 0.7em;
    color: white
}