.temperaturaDiaria {
    /*border: dotted 2px #faf0caff;*/
    border-radius: 8px;
    text-align: center;
    margin: 7px;
    display: inline-block;
}

.tValor {
    font-size: 1.2em;
    margin: 0px;
}

.tValorUnidad {
    font-size: 0.8em;
}

.horaValor {
    font-size: 0.9em;
    color:#37b2e6ff
}

.imagen{
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
}