.textoMaxMinConstante{
border: dotted 1px white;
border-radius: 5px;
color: darkgrey;
font-size: 0.8em;

}

.textoMaxMinVariable{
    border: dotted 2px rgb(34, 31, 31);
    border-radius: 8px;
    font-size: 1em;
    padding: 3px;
    margin: 3px;
    }

.contenedorTmaxTmin{
    border: dotted 2px red;
    border-radius: 8px;
    display: inline;
    margin: 20px;
    padding: 5px;
}